:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --nav-height: 34px;
  --header-height: 120px;
  --primary-color: #f6402d;
  --header-with-search-height: calc(var(--header-height) - var(--nav-height));
}

* {
  box-sizing: inherit;
  padding: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full_width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes header_notify-fadein {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal.open {
  display: flex;
}

.modal__body {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  animation: modalComeIn ease 0.3s;
}

/* button style */
.btn {
  min-width: 142px;
  height: 36px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  font-size: 1.5rem;
  padding: 0 12px;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn.btn-normal:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.btn.btn--size-s {
  height: 32px;
  font-size: 1.2rem;
  padding: 0 8px;
}

.btn.btn-primary {
  color: var(--white-color);
  background-color: #f6402d;

}

@keyframes modalComeIn {
  from {
    transform: translateY(-140px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
