#header {
    height: 120px;
    background-image: linear-gradient(0,#fe6332,#f6402d);
}

#header .nav {
    display: flex;
    justify-content: space-between;

}

#header .nav__list {
    list-style: none; 
   
}
.nav__list-item,
.nav__list-item-link  {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    
}

.nav__list-item:hover,
.nav__list-item-link:hover  {
    cursor: pointer;
    color:rgba(255,255,255,0.7);
    

}

.nav__list-item {
    position: relative;;
    margin: 0 8px ;
}

.nav__list-item--bold {
    font-weight: 500;
}

.nav__list-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-right: 1px solid #FB9086;
    height: 16px;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
    
}

.nav-icon-link {
    color: var(--white-color);
    text-decoration: none;
    
}